#google_translate_element {
  margin-bottom: 1rem;
  & > div {
    color: white;
    a {
      color: white;
    }
    img {
      filter: brightness(0) invert(1);
    }

  }

  &.hide-credit {
    color: transparent;
    & > div {
      color: transparent;
      line-height: 0;
    }
    span {
      display: none;
    }
  }
}
