$primary: white;
$secondary:#b11111;
$body-bg: $secondary;

$body-color: $primary;
$link-color: $primary;
$link-hover-color: $primary;
$link-focus-color: $primary;

// $btn-color: $body-bg;
// $btn-link-color: $primary;

$headings-margin-bottom: 1rem;
$btn-border-width: 2px;
$nav-tabs-link-active-color: $primary;
$nav-pills-link-active-color: $primary;
$nav-pills-link-active-bg: $body-bg;

$border-radius: 1rem;
$border-radius-sm: 1rem;
$border-radius-lg: 1rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 1rem;
$border-radius-2xl: 1rem;