$primary: white;
$body-bg: #B11111;

$body-color: $primary;
$link-color: $primary;
$link-hover-color: $primary;
$link-focus-color: $primary;

$headings-margin-bottom: 1rem;
$btn-border-width: 2px;
$nav-tabs-link-active-color: $primary;
$nav-pills-link-active-color: $primary;
$nav-pills-link-active-bg: $body-bg;
